fastapi-offline
fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
httpx
websockets
redis
python-multipart
email-validator
jinja2
PyJWT
passlib[bcrypt]
bcrypt
asyncpg
alembic